@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workbench,
body,
.root {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  background-color: #00263e !important;
}

.rowpadding {
  color: white;
  font-family: "Poppins", sans-serif;
}
.buttoncolor{
    background-color: #f26c52;
    color: white;
}
                       /* over right css for the multiselect checkbox */
.container .ms-options-wrap>.ms-options>ul input[type=checkbox] {
  left: 0px;
    top: 13px ;
}

.container .ms-options-wrap>.ms-options,.ms-options-wrap>button { 
	color:black;
  font-family: "Poppins", sans-serif;
  font-size: 1rem ;
  font-weight: 500;
 
}
.container .ms-options-wrap>button:focus
{
  color:black;
  font-family: "Poppins", sans-serif;
}
.container .ms-options-wrap>button, .ms-options-wrap>button:focus {
  color: black;
  height: 38px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;

}
.container .ms-options-wrap, .ms-options-wrap * {
  list-style-type: none;
}
.container .buttoncolor:hover{
    color: white ;
}
                            /* ST workbench */

#workbenchPageContent {
    left: -30px !important;
    max-width: 1364px !important;
  }
  .container .paginate_button.current:hover{
    color:black;
  }
  