@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");


.workbench,
body,
.root {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  background-color: #00263e !important;
}

.container #tblBodyForDivision td,
#tblForDivision th,
#tblBodyForBusinessDivision td,
#tblForBusinessDivision th,
#tblBodyForProjects td,
#tblForProjects th,
#tblBodyForClient td,
#tblForClient th,
#tblBodyForTaskMasterList td,
#tblForTaskMasterList th {
  border: 1px solid #ddd;
  text-align: center;
  color: white;
}
.container .head-btn-sec {
  text-align: right;
}

.container .icon-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.container .icon-img.icon-view {
  background-image: url("../../ExternalRef/images/icon-eye.png");
}
.container .icon-img.icon-edit {
  background-image: url("../../ExternalRef/images/icon-pencil.png");
}
.container .icon-img {
  margin: 10px;
}
.container table.dataTable tbody tr {
  background-color: rgb(0 38 62);
  height: 20px ;
}
.container table.dataTable tbody td,
table.dataTable tbody th {
  padding: 0px 10px;
}
.container .btn {
   margin-bottom: 10px; 
  background: #dd4b41;
  color: white;
}
.container .tab-content > .tab-pane {
  margin: 20px;
}
.container a {
color: #f26c52;
} 

.container label{
  color: white;
}

.container button, input, select, textarea {
  color: black;
}

/* .container .nav-tabs>li>a {
  border: 1px  transparent;
} */

.container 
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: rgb(0, 38, 62) !important;
  color: white;
 }
 .container .nav>li>a:focus, .nav>li>a:hover {
  background-color: rgb(0, 38, 62);
 }
 .container input[type="search"] {
  border: 1px solid black;
}


.container .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
  color: white;
}
.container .dataTables_wrapper .dataTables_paginate {
color: white!important;
}
.container .dataTables_wrapper .dataTables_paginate  .dataTables_wrapper .dataTables_paginate  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color:white !important;
}
.container #tblForProjects_paginate .paginate_button,
#tblForDivision_paginate .paginate_button,
#tblForBusinessDivision_paginate .paginate_button,
#tblForClient_paginate .paginate_button,
#tblForTaskMasterList_paginate .paginate_button{
  color:#fff  !important;
}
.container #tblForProjects_paginate .paginate_button.current,
#tblForDivision_paginate .paginate_button.current,
#tblForBusinessDivision_paginate .paginate_button.current,
#tblForClient_paginate .paginate_button.current,
#tblForTaskMasterList_paginate .paginate_button.current{
   color: #000 !important;
 }
.container #tblForDivision_previous,#tblForDivision_next,#tblForClient_previous,#tblForClient_next,#tblForBusinessDivision_previous,#tblForBusinessDivision_next,#tblForProjects_previous,#tblForProjects_next,#tblForTaskMasterList_previous,#tblForTaskMasterList_next{
   color: #fff !important;
 }


 /* ! workbench size Dont Forget to comment after works done */
#workbenchPageContent {
  left: -30px !important;
  max-width: 1364px !important;
}
/* workbench size */
