@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}
.workbench,
body,
.root {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  background-color: #00263e !important;
}

.ischedule .container {
  display: flex;
  flex-wrap: wrap;
  /*border:2px solid #f26c52;*/
  padding: 10px;
}

.ischedule .clsRowDiv {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #f26c52;
  width: 100%;

  margin-top: 20px !important;
}

/* Create two equal columns that sits next to each other */
.ischedule .column {
  margin: 14px;
  padding: 10px;
}

.ischedule .Heading {
  position: relative;
  left: 40px;
  height: 40px;
  font-size: 24px;
  top: 45px;
  background: rgb(0 38 62);
}

.ischedule select {
  width: 150px;
  height: 25px;
}
.ischedule select:focus {
  min-width: 150px;
  width: auto;
  color: black;
}

.ischedule table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

.ischedule th {
  color: #f26c52;
}

.ischedule td,
th {
  border: 1px solid #f26c52;
  text-align: left;
  padding: 8px;
}

.ischedule tr:nth-child(even) {
  /*background-color: #f26c52;*/
}

.ischedule button,
input,
select,
textarea {
  color: black;
}
/* ! workbench size Dont Forget to comment after works done */
#workbenchPageContent {
  left: -30px !important;
  max-width: 1364px !important;
}
/* workbench size */

.ischedule .generate-fields {
  display: inline-block;
  margin-left: 6px;
  width: 22px !important;
  height: 18px !important;
  background: url(../images/icon-generate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
}
.fileupload {
  display: flex;
}
input[type="file"] {
  display: inline;
}
.ischedule input#txtNode {
  display: inline-block;
  vertical-align: middle;
}
.ischedule .btnsubmit {
  text-align: right !important;
}
.ischedule .submit {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #dd4b41;
  color: #fff;
  cursor: pointer;
  float: left;
  width: 100px;
}
.btnsave, .btnUpdate {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #dd4b41;
  color: #fff;
}
.ischedule select {
  width: 150px !important;
}

input#btnClose {
  margin-left: 20px;
}

#icon-view,
.icon-edit {
  margin: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  background-color: rgb(0, 38, 62);
  border-color: rgb(0, 38, 62);
}
#icon-view {
  background-image: url("../../ExternalRef/images/icon-eye.png");
}
.icon-edit {
  background-image: url("../../ExternalRef/images/icon-pencil.png");
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0px 0px;
}
.modal-body,
.modal-header {
  color: black;
}

.modal-body label {
  width: 150px;
}
.modal-body label,
.modal-body p {
  display: inline-block;
}
.modal-body p {
  width: 400px;
  padding-left: 10px;
}
